<!-- <app-main-route></app-main-route> -->

<!-- <button (click) ="windowOpen()"> 
	Open GeeccccksforGeeks 
	</button> 
	<button (click) ="windowOpen1()"> 
		Open GeeccccksforGeeks1
		</button> 
	 <button (click)="windowBlur()"> 
	Blur GeeksforGeeks 
	</button> 
<button (click)="windowFocus()"> 
	Focus GeeksforGeeks 
	</button> 
	<button (click)="windowFocus1()"> 
		Focus GeeksforGeeks1 
		</button> 
    <button (click)="main()"> 
       main 
        </button>
<h1 id="gg" tabindex="0">sjgs</h1> -->
<!-- <app-login></app-login> -->
<!-- <app-first></app-first> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-file-uploaded-with-node></app-file-uploaded-with-node> -->
<app-file-uploaded-with-node></app-file-uploaded-with-node>